html,
body,
#root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Quicksand', Arial, sans-serif;
  box-sizing: border-box;
}

footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative; /* Or fixed if needed */
  bottom: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .grid {
    flex-direction: column; /* Stack cards vertically on smaller screens */
  }

  .card {
    width: 100%; /* Cards take full width on smaller screens */
  }
}

@font-face {
  font-family: 'Quicksand';
  src: url('./assets//fonts//Quicksand-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
